{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="login-page">
  <h1>Sign up</h1>
    <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
        <div class="form">
            {% for field in form %}

            <div class="tag">
                {{ field.label_tag}}
            </div>
            <div class="field">
                {{ field }}
            </div>
            {% endfor %}
          <br>

        <button type="submit">Sign up</button>
        </div>
    </form>
</div>
{% endblock %}